.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
}

.App-body {
  display: flex;
  justify-content: space-around;
  background-color: purple;
  padding: 0 0 1rem 0;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30rem;
  align-items: center;
}

.Playlist-name {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: purple;
  border-bottom: 1px solid white;
  color: black;
}

.Track-card-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: hsla(34, 100%, 50%, 0.1);
}

.Track-card-info {
  margin: 0 1rem 0 1rem;
}

h3, h4 {
  text-align: left;
}